body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

/* 滚动槽 */
.overflow-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.overflow-scrollbar::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
}

/* 滚动条滑块 */
.overflow-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: site-font;
  src: url(../font/font.ttf);
}

.page-header {
  border-bottom: solid 1px #e6e6e6;
}

.header-nav {
  width: 100%;
  max-width: 1120px;
  height: 60px;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-nav>div {
  display: inline-block;
}

.header-left {
  padding: 5px 0;
}

.header-right {
  height: 40px;
  padding: 10px 0;
  font-size: 0;
}

.shell-icon {
  margin: 2px;
  height: 16px;
  width: 16px;
  background: url(../image/gw.svg) no-repeat;
  background-size: contain;
}

.qqq-icon {
  margin: 2px;
  height: 16px;
  width: 16px;
  background: url(../image/qq.svg) no-repeat;
  background-size: contain;
}

.system-list {
  margin-top: 40px;
}

.site-logo {
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: top;
  background: url(../image/logo.svg) no-repeat;
  background-size: contain;
}

.shell-item {
  display: inline-block;
  text-decoration: none;
  color: #888;
  height: 20px;
  padding: 0 10px;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .system-item {
    width: 100%;
    /* 或其他适当的宽度 */
    /* 其他样式 */
  }
}

.shell-item:first-child {
  border-right: solid 1px #888;
}

.shell-name {
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
}

.shell-item:hover {
  text-decoration: none;
}

.shell-item>div {
  display: inline-block;
}

.site-name {
  font-family: site-font;
  font-size: 24px;
  vertical-align: top;
  line-height: 30px;
  display: inline-block;
}

.page-container {
  min-height: calc(100vh - 61px - 60px);
  background-color: #f4f6fa;
  padding: 20px 0;
}

.page-footer {
  height: 60px;
  padding-top: 40px;
  text-align: center;
  background-color: #f4f6fa;
  font-size: 12px;
}

.main-container {
  width: 1120px;
  margin: 0 auto;
}

.node-logo {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.windows-logo {
  background: url(../image/windows.svg) no-repeat;
  background-size: contain;
}

.mac-logo {
  background: url(../image/mac.svg) no-repeat;
  background-size: contain;
}

.android-logo {
  margin-top: 6px;
  background: url(../image/android.svg) no-repeat;
  background-size: contain;
  vertical-align: bottom;
  height: 35px;
}

.alidrive-logo {
  background: url(../image/alidrive.png) no-repeat;
  background-size: contain;
}

.node-name {
  font-size: 24px;
  font-family: site-font;
  vertical-align: top;
  display: inline-block;
  line-height: 40px;
}

.list-items {
  margin-top: 10px;
  font-size: 0;
}

.system-item {
  box-sizing: border-box;
  text-decoration: none;
  background-color: #fff;
  display: inline-block;
  height: 100px;
  width: calc((100% - 48px)/4);
  margin: 8px;
  vertical-align: top;
  border-radius: 12px;
  padding: 20px 15px;
  font-size: 16px;
  position: relative;
}

.system-overlay {
  display: none;
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c6cbccf2;
  animation: animate 0.1s ease-in-out 0s 1 alternate forwards;
  overflow: hidden;
}

@keyframes animate {
  from {
    height: 0px;
    top: 100%;
  }

  to {
    height: 100%;
    top: 0px;
  }
}

.overlay-btn-group {
  display: flex;
}

.system-item:nth-child(4n+1) {
  margin-right: 8px;
}

.system-item:nth-child(4n+4) {
  margin-left: 8px;
  margin-right: 0;
}

.system-item:hover {
  transform: translate(0, -8px);
  transition: all 0.25s;
  text-align: none;
}

.system-item:hover .system-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-btn {
  padding: 4px 16px;
  margin: 5px;
  border: none;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.coco-modal {
  margin-top: 50vh !important;
  transform: translateY(-50%) translateZ(0) !important;
  ;
}

.coco-modal-body>span {
  overflow-wrap: anywhere;
}

.overlay-btn:focus {
  outline: none;
}

.download-btn {
  background-color: #4F81C7;
}

.getlink-btn {
  background-color: #64C4ED;
}

.password-btn {
  background-color: #FF6768;
}

.system-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25px;
  right: 15px;
}

.system-centos {
  background: url(../image/centos.svg) no-repeat;
  background-size: contain;
}

.system-debian {
  background: url(../image/Debian.svg) no-repeat;
  background-size: contain;
}

.system-windows {
  background: url(../image/windows.svg) no-repeat;
  background-size: contain;
}

.clash-logo {
  background: url(../image/clash.svg) no-repeat;
  background-size: contain;
}

.verger-logo {
  background: url(../image/verger.png) no-repeat;
  background-size: contain;
}

.v2rayn-logo {
  background: url(../image/v2rayn.png) no-repeat;
  background-size: contain;
}

.winxray-logo {
  background: url(../image/winxray.png) no-repeat;
  background-size: contain;
}

.netch-logo {
  background: url(../image/netch.png) no-repeat;
  background-size: contain;
}

.system-ubuntu {
  background: url(../image/ubuntu.svg) no-repeat;
  background-size: contain;
}

.system-name {
  margin-top: 10px;
  display: inline-block;
  line-height: 20px;
  font-size: 20px;
  font-weight: 550;
  color: black;
}

.system-remarks {
  display: inline-block;
  line-height: 30px;
  color: #888;
  font-size: 14px;
}

.qq-icon {
  display: inline-block;
  background: url(../image/qq.svg) no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
}

.qq-url {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 600px) {
  .header-nav {
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
  }

  .header-nav > div {
    margin-bottom: 10px;
  }

  .main-container {
    width: 100%;
    padding: 0 15px;
  }

  .shell-item {
    font-size: 14px;
  }

  .system-item {
    width: calc((100% - 24px)/2);
  }

  .system-item:nth-child(2n+1) {
    margin-right: 8px;
  }

  .system-item:nth-child(2n+2) {
    margin-left: 8px;
    margin-right: 0;
  }

  .system-name {
    font-size: 18px;
  }
}
